.header {
    padding: 18px 45px 43px;
    width: 100%;
    background: url("/assets/pattern-header.svg") top center / contain no-repeat;
    margin-bottom: 50px;
}

@media (max-width: 1024px ) {
    .header {
        padding: 15px 30px;
        margin-bottom: 20px;
    }
}